<h1>New Character Form</h1>
<div>
<%= form_for @person, html: { multipart: true } do |f| %>
</div>
<div class="people_form">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="people_form">
<%= f.label :description %>
<%= f.text_field :description, :cols => "10", :rows => "10" %>
</div>

<div class="people_form">
<%= f.label :image %>
<%= f.file_field :image %>
</div>
<div class="people_form_submit">
<%= f.submit "Add Character"  %>
</div>

<% end %>
