<h1>New Film Form</h1>

<div>
<%= form_for Film.new, html: { multipart: true } do |f| %>
</div>
<div class="film_form">
<%= f.label :title %>
<%= f.text_field :title %>
</div>

<div class="film_form">
<%= f.label :director %>
<%= f.text_field :director %>
</div>

<div class="film_form">
<%= f.label :characters %>
<%= f.text_field :characters, :cols => "10", :rows => "10" %>
</div>

<div class="film_form">
<%= f.label :image %>
<%= f.file_field :image %>
</div>
<div class="film_form_submit">
<%= f.submit "Add Film"  %>
</div>


<% end %>
